Repository piotrek96k/numbers-transition: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{ "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"], "*.{json, md}": ["prettier --write"] }

useHorizontalAnimationWidths small refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Bump storybook from 10.5.10 to 10.6.0
  package-lock.json
  package.json
Due: prettier --write

Fix vulnerabilities
  package-lock.json
Due: prettier --write

Add bind() to object, to be able bind itself to functions using proxy
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.modules.d.ts
Due: prettier --write, eslint --fix, eslint

Modify type-extensions merge function to work with proxies
  plugins/type-extensions/enums/arg-name.ts
  plugins/type-extensions/runtime/merge.ts
  tests/type-extensions/nodes/runtime.test.ts
Due: prettier --write, eslint --fix, eslint

Defer useEffect refactor
  src/NumbersTransition/NumbersTransition.components.tsx
Due: prettier --write, eslint --fix, eslint

Replace Function.identity with array all any functions
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.modules.d.ts
Due: prettier --write, eslint --fix, eslint

BoundProxy refactor
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Readme typescript version update
  README.md
Due: none

Fix array depth to work with empty slots
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Extensions refactor
  .prettierrc.json
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Merge BoundProxy and BoundProxyHandler into single class
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Make BoundProxy singleton
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Add deescriptions to actions
  .github/actions/build-storybook/action.yaml
  .github/actions/clean-storybook/action.yaml
  .github/actions/deploy-storybook/action.yaml
  .github/actions/lint/action.yaml
  .github/actions/read-storybook-version/action.yaml
  .github/actions/upgrade-storybook/action.yaml
Due: none

Bump storybook from 10.6.0 to 10.6.1
  package-lock.json
  package.json
Due: prettier --write

Refactor
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Refactor
  plugins/type-extensions/nodes/destructure.ts
  src/NumbersTransition/NumbersTransition.stories.tsx
Due: prettier --write, eslint --fix, eslint

Fix high severity vulnerability
  package-lock.json
Due: prettier --write

reduceAnimationsKeyframes refactor
  src/NumbersTransition/NumbersTransition.modules.d.ts
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Add self getter to Array
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.modules.d.ts
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint
