Repository piotrek96k/numbers-transition: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

Type-extensions plugin, handle rest parameters in destruction
  plugins/type-extensions/expressions/destructure.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Arrays loop trick refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
Due: prettier --write, eslint --fix, eslint

mapMulti filterMulti refactor
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin fix build warning
  plugins/type-extensions/transformer/transformer.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin fix with enforce: pre instead of removing comments
  plugins/type-extensions/transformer/transformer.ts
  plugins/type-extensions/type-extensions.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin refactor
  plugins/type-extensions/transformer/transformer.ts
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Extract Separators components and extensions for boolean
  extensions.config.json
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Fix Continue InterruptionMode when non value prop changes
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

onAnimationEnd refactor
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin hmr refactor
  plugins/type-extensions/config/config.ts
  plugins/type-extensions/hmr/hmr.ts
Due: prettier --write, eslint --fix, eslint

Bug fix for animation restart value, where incorrect value was showing for a split of a second
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin fix build warning for source map
  plugins/type-extensions/transformer/transformer.ts
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Cubic bezier solver refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Fix storybook build warnings
  .storybook/main.ts
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

useAnimationValues order change
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Add dependabot.yaml
  .github/dependabot.yaml
Due: none

Update dependabot for storybook
  .github/dependabot.yaml
Due: none

Testing
  .github/dependabot.yaml
Due: none

Revert last commit
  .github/dependabot.yaml
Due: none

Update .github/dependabot.yaml
  .github/dependabot.yaml
Due: none

rever prettier to 3.6.2
  package-lock.json
  package.json
Due: prettier --write

Update dependabot storybook group
  .github/dependabot.yaml
Due: none

Update dependabot
  .github/dependabot.yaml
Due: none

Update dependabot group
  .github/dependabot.yaml
Due: none

Testing dependabot fix for peer dependencies
  .github/dependabot.yaml
Due: none

Fix after styled-components version upgrade
  src/NumbersTransition/NumbersTransition.styles.ts
  src/styled.ts
Due: prettier --write, eslint --fix, eslint

Update formatting
  src/NumbersTransition/NumbersTransition.components.tsx
Due: prettier --write, eslint --fix, eslint

Fix vulnerabilities
  package-lock.json
Due: prettier --write

Dependabot allow fix
  .github/dependabot.yaml
Due: none

Update storybook to 10.2.0
  package-lock.json
  package.json
Due: prettier --write

Update max PRs number for dependabot
  .github/dependabot.yaml
Due: none

styled refactor
  src/styled.ts
Due: prettier --write, eslint --fix, eslint

components format refactor
  src/NumbersTransition/NumbersTransition.components.tsx
Due: prettier --write, eslint --fix, eslint

Styled more refactor
  src/styled.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json, md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
