Repository piotrek96k/numbers-transition: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

Rename CharSequence to Text
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Type declarations fixes
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Fix storybook docgen warning
  .storybook/main.ts
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.components.tsx
Due: prettier --write, eslint --fix, eslint

Update eslint manually to latest working versions
  package-lock.json
  package.json
Due: prettier --write

Add Typeof enum
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Move depth static function as objecct getter
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/global.d.ts
Due: prettier --write, eslint --fix, eslint

type fix
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Manually update @typescript-eslint/parser to 8.58.2
  package-lock.json
  package.json
Due: prettier --write

Refactor and upgrade Tuple type
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/NumbersTransition/NumbersTransition.types.ts
Due: prettier --write, eslint --fix, eslint

Fix eslint error introduce range to array
  eslint.config.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/global.d.ts
Due: prettier --write, eslint --fix, eslint

Fix naming error
  src/NumbersTransition/NumbersTransition.stories.tsx
Due: prettier --write, eslint --fix, eslint

Add remove method to String
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/global.d.ts
Due: prettier --write, eslint --fix, eslint

Add collapse to Array
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/global.d.ts
Due: prettier --write, eslint --fix, eslint

Add take method to String
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/global.d.ts
Due: prettier --write, eslint --fix, eslint

Add typescript-eslint group to dependabot
  .github/dependabot.yaml
Due: none

Update @typescript-eslint/parser
  package-lock.json
  package.json
Due: prettier --write

Revert broken eslint upgrade add lint action
  .github/actions/lint/action.yaml
  .github/workflows/build-storybook.yaml
  .github/workflows/deploy-storybook.yaml
  package-lock.json
  package.json
Due: prettier --write

Refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Migrate from vite-plugin-dts to unplugin-dts
  .storybook/main.ts
  package-lock.json
  package.json
  vite.config.ts
  vite.plugins.ts
Due: prettier --write, eslint --fix, eslint

Fix linting dependency
  package-lock.json
  package.json
Due: prettier --write

Fix storybook upgrade logic
  .github/actions/upgrade-storybook/action.yaml
Due: none

Remove typescript-eslint group from dependabot (preparation to migrate eslint 10)
  .github/dependabot.yaml
Due: none

Bump storybook from 10.3.5 to 10.3.6
  package-lock.json
  package.json
Due: prettier --write

Manually migrate to eslint 10, new lib for sorting imports
  .storybook/main.ts
  eslint.config.ts
  package-lock.json
  package.json
  plugins/suppress-diagnostics/plugin.ts
  plugins/tests/type-extensions/transformer/transformer.ts
  plugins/type-extensions/runtime/merge.ts
  plugins/type-extensions/runtime/proxy.ts
  plugins/type-extensions/runtime/type-distance.ts
  plugins/type-extensions/runtime/wrap.ts
  plugins/type-extensions/transformer/transformer.ts
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/index.ts
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

Eslint small refactor
  eslint.config.ts
Due: prettier --write, eslint --fix, eslint

More refactor
  eslint.config.ts
Due: prettier --write, eslint --fix, eslint

Add setup node to composite actions
  .github/actions/build-storybook/action.yaml
  .github/actions/lint/action.yaml
  .github/actions/upgrade-storybook/action.yaml
Due: none

Refactor
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Run lint check after lint-staged on commit
  .husky/pre-commit
Due: none

Add react group to dependabot
  .github/dependabot.yaml
Due: none

fix vulnerability
  package-lock.json
Due: prettier --write

Bump storybook from 10.3.6 to 10.4.0
  package-lock.json
  package.json
Due: prettier --write

Update packages to remove vulnerabilities
  package-lock.json
Due: prettier --write

Bump storybook from 10.4.0 to 10.4.1
  package-lock.json
  package.json
Due: prettier --write

Bump storybook from 10.4.1 to 10.4.2
  package-lock.json
  package.json
Due: prettier --write

replace testAny with generic mathes, remove RegExp extension
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/global.d.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json, md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
