Repository piotrek96k/numbers-transition: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

Update dependabot
  .github/dependabot.yaml
Due: none

Upgrade upload-artifact action
  .github/actions/build-storybook/action.yaml
Due: none

Update storybook to update composite actions
  .github/actions/build-storybook/action.yaml
  .github/dependabot.yaml
  .github/workflows/build-storybook.yaml
Due: none

Rename invoke to call
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Bump storybook from 10.2.19 to 10.3.1
  package-lock.json
  package.json
Due: prettier --write

Refactor
  src/NumbersTransition/NumbersTransition.components.tsx
Due: prettier --write, eslint --fix, eslint

update
  README.md
Due: none

Refactor
  src/NumbersTransition/NumbersTransition.stories.tsx
Due: prettier --write, eslint --fix, eslint

Small refactor
  src/styled.ts
Due: prettier --write, eslint --fix, eslint

Refactor add extension for css type
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/global.ts
  src/styled.ts
Due: prettier --write, eslint --fix, eslint

Bump storybook from 10.3.1 to 10.3.3
  package-lock.json
  package.json
Due: prettier --write

Function extension refactor add invokeWhen function
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Add Function literal type
  plugins/type-extensions/enums/literal-type.ts
  plugins/type-extensions/literals/literal-expressions.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Method -> Callable
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

DragAndDrop improved transform logic
  src/NumbersTransition/NumbersTransition.stories.tsx
Due: prettier --write, eslint --fix, eslint

DragAndDrop fix precision and edge cases bugs
  src/NumbersTransition/NumbersTransition.stories.tsx
Due: prettier --write, eslint --fix, eslint

DragAndDrop small improvements add insert to List
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Array.map type improvements
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Add overload of mapEach
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Small refactor
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Add OrFunction utility type
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/NumbersTransition/NumbersTransition.types.ts
  src/global.ts
  src/index.ts
  src/styled.ts
Due: prettier --write, eslint --fix, eslint

Update storybook update action to add branch name variable
  .github/actions/upgrade-storybook/action.yaml
Due: none

Rename scripts test:plugins to verify:plugins
  package.json
Due: prettier --write

Manually migrate to typescript 6
  package-lock.json
  package.json
  plugins/suppress-diagnostics/plugin.ts
  tsconfig.json
  tsconfig.plugins.json
Due: prettier --write, eslint --fix, eslint

Fix numbers-transition.d.ts generated file
  eslint.config.ts
  src/NumbersTransition/NumbersTransition.styles.ts
  src/global.d.ts
  src/styled.d.ts
  src/styled.ts
Due: prettier --write, eslint --fix, eslint

Replace Factory type with generic OrFunction, replace Function.optionalCall with any.callOrGet
  eslint.config.ts
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/NumbersTransition/NumbersTransition.types.ts
  src/global.d.ts
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Bump storybook from 10.3.3 to 10.3.4
  package-lock.json
  package.json
Due: prettier --write

Last changes simplification
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

React type improvements
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.tsx
  src/NumbersTransition/NumbersTransition.types.ts
Due: prettier --write, eslint --fix, eslint

Small type fix
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Fix upgrade storybook logic on not deleted branch of merged PR
  .github/actions/upgrade-storybook/action.yaml
Due: none

Small update of storybook config
  .storybook/main.ts
Due: prettier --write, eslint --fix, eslint

Small refactor
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.types.ts
Due: prettier --write, eslint --fix, eslint

object type fixes
  src/global.d.ts
Due: prettier --write, eslint --fix, eslint

Bump storybook from 10.3.4 to 10.3.5
  package-lock.json
  package.json
Due: prettier --write

Rename RegularExpression to Pattern
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json, md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
