Repository piotrek96k/numbers-transition: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{ "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"], "*.{json, md}": ["prettier --write"] }

Add better types into styled
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Mostly refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

Small refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Extend animation timing function
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.tsx
  src/global.d.ts
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Replace JSX.Element with ReactElement
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Add support for fixed animation duration, improve global types
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/global.d.ts
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Read animation type from theme
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Make component more generic for better typecheck
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

New approach for custom animations
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/global.d.ts
  src/index.ts
Due: prettier --write, eslint --fix, eslint

useAnimationDuration hook improvements
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/global.d.ts
Due: prettier --write, eslint --fix, eslint

.gitignore and .npmignore update
  .gitignore
  .npmignore
Due: none

Add .github workflow for storybook
  .github/workflows/storybook.yml
  .npmignore
Due: none

Split workflows
  .github/actions/storybook-build/action.yaml
  .github/actions/storybook-deploy/action.yaml
  .github/workflows/storybook.yaml
  .github/workflows/storybook.yml
Due: none

Break into separate jobs
  .github/actions/build-storybook/action.yaml
  .github/actions/deploy-storybook/action.yaml
  .github/workflows/storybook.yaml
Due: none

Update packages
  package-lock.json
  package.json
Due: prettier --write

Try to remove artifact
  .github/actions/build-storybook/action.yaml
  .github/actions/deploy-storybook/action.yaml
  .github/actions/remove-storybook/action.yaml
  .github/workflows/storybook.yaml
Due: none

Add concurency, to cancel running workflow
  .github/workflows/storybook.yaml
Due: none

Rename remove action to clean
  .github/actions/clean-storybook/action.yaml
  .github/workflows/storybook.yaml
Due: none

'Renaming'
  .github/actions/deploy-storybook/action.yaml
Due: none

Add css factory
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Export more enums
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Change order of imports
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Add optional BigDecimal to props
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Change type in theme
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Add support for className and style as factories
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Add OrArray type
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Move OrArray to extensions
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Add types file but only with generic util types
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/NumbersTransition/NumbersTransition.types.ts
Due: prettier --write, eslint --fix, eslint

Update storybook configuration
  .storybook/main.ts
Due: prettier --write, eslint --fix, eslint

Remove Not<T, Function>
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.types.ts
Due: prettier --write, eslint --fix, eslint

move comment
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Add Falsy type and check for factory usage simplification
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.types.ts
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Eslint config change
  eslint.config.js
  src/styled.d.ts
Due: prettier --write, eslint --fix, eslint

Eslint refactor
  eslint.config.js
Due: prettier --write, eslint --fix, eslint

More eslint refactor
  eslint.config.js
Due: prettier --write, eslint --fix, eslint

Another eslint update
  eslint.config.js
Due: prettier --write, eslint --fix, eslint

Add StyleSheetManager to config props forwarded to html
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Add new hook useForwardProp
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
  src/NumbersTransition/NumbersTransition.types.ts
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Make View a mapped type from styles definition
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Refactor of last commit
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint
