Repository piotrek96k/numbers-transition: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{ "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"], "*.{json, md}": ["prettier --write"] }

More fixes to useHorizontalAnimationWidths
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Last commit refactor add DomElement ot extensions
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Again refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Testing
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin literals small bug fix for objects
  plugins/type-extensions/literals/literal-expressions.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin fix broken tests
  plugins/tests/type-extensions/nodes/property-access.test.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin fix rest parameter destructure to always test all extensions
  plugins/type-extensions/nodes/destructure.ts
Due: prettier --write, eslint --fix, eslint

'Testing'
  package.json
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/NumbersTransition/Test.ts
Due: prettier --write, eslint --fix, eslint

Update
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin arg renaming
  plugins/tests/type-extensions/nodes/extension-class.test.ts
  plugins/type-extensions/enums/arg-name.ts
  plugins/type-extensions/runtime/extension-new-expression.ts
  plugins/type-extensions/runtime/get-this-value.ts
  plugins/type-extensions/runtime/merge.ts
  plugins/type-extensions/runtime/proxy.ts
  plugins/type-extensions/runtime/wrap.ts
Due: prettier --write, eslint --fix, eslint

I hope it is correct now
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/NumbersTransition/Test.ts
Due: prettier --write, eslint --fix, eslint

hooks refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin new logic to handle inheritance and mutliple extensions for one type
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/tests/type-extensions/global.ts
  plugins/tests/type-extensions/nodes/extension-class.test.ts
  plugins/tests/type-extensions/nodes/inheritance.test.ts
  plugins/tests/type-extensions/nodes/property-access.test.ts
  plugins/tests/type-extensions/nodes/runtime.test.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
  plugins/tests/type-extensions/transform/transform.ts
  plugins/tests/type-extensions/transformer/transformer.ts
  plugins/type-extensions/config/config.ts
  plugins/type-extensions/enums/arg-name.ts
  plugins/type-extensions/enums/extension-property-name.ts
  plugins/type-extensions/enums/function-name.ts
  plugins/type-extensions/enums/property-name.ts
  plugins/type-extensions/enums/static-property-name.ts
  plugins/type-extensions/enums/variable-name.ts
  plugins/type-extensions/extension/extension.ts
  plugins/type-extensions/nodes/class.ts
  plugins/type-extensions/nodes/destructure.ts
  plugins/type-extensions/nodes/property-access.ts
  plugins/type-extensions/runtime/extension-new-expression.ts
  plugins/type-extensions/runtime/find-owner-distance.ts
  plugins/type-extensions/runtime/get-this-value.ts
  plugins/type-extensions/runtime/merge.ts
  plugins/type-extensions/runtime/proxy.ts
  plugins/type-extensions/runtime/read-sources.ts
  plugins/type-extensions/runtime/runtime.ts
  plugins/type-extensions/runtime/type-distance.ts
  plugins/type-extensions/runtime/type-map.ts
  plugins/type-extensions/runtime/wrap.ts
  plugins/type-extensions/transformer/transformer.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin fix generated code removal when test fails
  plugins/tests/type-extensions/nodes/inheritance.test.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin refactor inheritance tests
  plugins/tests/type-extensions/nodes/inheritance.test.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin tests refactor
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/tests/type-extensions/nodes/binding.test.ts
  plugins/tests/type-extensions/nodes/property-access.test.ts
  plugins/tests/type-extensions/nodes/runtime.test.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin use default all types in proxy instead of passing whole array
  plugins/tests/type-extensions/nodes/runtime.test.ts
  plugins/type-extensions/enums/property-name.ts
  plugins/type-extensions/nodes/destructure.ts
  plugins/type-extensions/runtime/proxy.ts
  plugins/type-extensions/runtime/type-map.ts
Due: prettier --write, eslint --fix, eslint

Upgrade storybook to 10.2.12
  package-lock.json
  package.json
Due: prettier --write

Update extension, to not rely on plugin rewrite as it will be removed in the future
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Type extensions, extends definition of object to primitives to align with typescript
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/type-extensions/literals/literal-expressions.ts
  plugins/type-extensions/nodes/destructure.ts
  plugins/type-extensions/nodes/property-access.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin add full support for statics
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/tests/type-extensions/global.ts
  plugins/tests/type-extensions/nodes/extension-class.test.ts
  plugins/tests/type-extensions/nodes/inheritance.test.ts
  plugins/tests/type-extensions/nodes/property-access.test.ts
  plugins/tests/type-extensions/nodes/runtime.test.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
  plugins/type-extensions/enums/arg-name.ts
  plugins/type-extensions/enums/property-name.ts
  plugins/type-extensions/enums/typeof.ts
  plugins/type-extensions/enums/variable-name.ts
  plugins/type-extensions/literals/literal-expressions.ts
  plugins/type-extensions/nodes/destructure.ts
  plugins/type-extensions/nodes/property-access.ts
  plugins/type-extensions/runtime/default-types.ts
  plugins/type-extensions/runtime/find-owner-distance.ts
  plugins/type-extensions/runtime/get-extension.ts
  plugins/type-extensions/runtime/merge.ts
  plugins/type-extensions/runtime/proxy.ts
  plugins/type-extensions/runtime/read-sources.ts
  plugins/type-extensions/runtime/runtime.ts
  plugins/type-extensions/runtime/type-distance.ts
  plugins/type-extensions/runtime/type-map.ts
  plugins/type-extensions/runtime/types-argument.ts
  plugins/type-extensions/runtime/wrap.ts
Due: prettier --write, eslint --fix, eslint

Update storybook ro 10.2.13
  package-lock.json
  package.json
Due: prettier --write

Type-extensions plugin make literal type configurable, get rid of id
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/tests/type-extensions/nodes/inheritance.test.ts
  plugins/tests/type-extensions/nodes/property-access.test.ts
  plugins/tests/type-extensions/nodes/runtime.test.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
  plugins/type-extensions/config/config.ts
  plugins/type-extensions/enums/literal-type.ts
  plugins/type-extensions/enums/static-property-name.ts
  plugins/type-extensions/extension/extension.ts
  plugins/type-extensions/literals/literal-expressions.ts
  plugins/type-extensions/nodes/class.ts
  plugins/type-extensions/runtime/type-map.ts
  plugins/type-extensions/visitor/visitor.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

type fix
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin bug fix
  plugins/type-extensions/config/config.ts
Due: prettier --write, eslint --fix, eslint

Add build checks for PRs
  .github/workflows/storybook.yaml
Due: none

update workflow
  .github/workflows/storybook.yaml
Due: none

Upgrade storybook to 10.2.15
  package-lock.json
  package.json
Due: prettier --write

Add storybook-upgrade make multiple non conditional workflows
  .github/actions/upgrade-storbook/action.yaml
  .github/dependabot.yaml
  .github/workflows/build-storybook.yaml
  .github/workflows/deploy-storybook.yaml
  .github/workflows/upgrade-storybook.yaml
Due: none

Update workflow
  .github/workflows/upgrade-storybook.yaml
Due: none

Fix typo
  .github/actions/upgrade-storybook/action.yaml
Due: none

Another workflow fox
  .github/actions/upgrade-storybook/action.yaml
Due: none

Update storybook-upgrade action
  .github/actions/upgrade-storybook/action.yaml
Due: none

Create read storybook version action
  .github/actions/read-storybook-version/action.yaml
  .github/actions/upgrade-storybook/action.yaml
Due: none

Downgrade storybook for testing
  package-lock.json
  package.json
Due: prettier --write

Fix upgrade storybook
  .github/workflows/upgrade-storybook.yaml
Due: none
