Repository piotrek96k/numbers-transition: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{ "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"], "*.{json, md}": ["prettier --write"] }

Update storybook to 10.2.1
  package-lock.json
  package.json
Due: prettier --write

zip function refactor
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint

invalid element render logic refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Upgrade storybook to 10.2.3
  package-lock.json
  package.json
Due: prettier --write

Improve negative vertical animation for single mode, small styling fixes, add border example to storybook
  extensions.config.json
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Fix horizontal animation error with rounded widths (it's floating point now)
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Add extensions to object
  extensions.config.json
  plugins/type-extensions/literals/literal-expressions.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
  src/index.ts
Due: prettier --write, eslint --fix, eslint

Rename List functions
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Rename Value class to Extension, move class to plugin, modify vite.plugins for extension entry
  plugins/suppress-diagnostics/plugin.ts
  plugins/type-extensions/enums/constructor.ts
  plugins/type-extensions/extension/extension.ts
  plugins/type-extensions/plugin/plugin.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  tsconfig.json
  vite.config.ts
  vite.plugins.ts
Due: prettier --write, eslint --fix, eslint

Update storybook to 10.2.4
  package-lock.json
  package.json
Due: prettier --write

Small Refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

add UnknownAnimationTimingFunction to README
  README.md
Due: none

Use value small refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Add findMap to array
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Fix vulnerability
  package-lock.json
Due: prettier --write

Update stirybook to 10.2.6
  package-lock.json
  package.json
Due: prettier --write

Simplify onAnimationEnd logic
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

useNegativeElementAnimationTimingFunction refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Small hooks refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Small styles refactor
  extensions.config.json
  src/NumbersTransition/NumbersTransition.styles.ts
Due: prettier --write, eslint --fix, eslint

Reoder extenions
  extensions.config.json
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin new merge logic for better destructure handling and existing property resolving
  plugins/type-extensions/config/config.ts
  plugins/type-extensions/enums/arg-name.ts
  plugins/type-extensions/enums/const-name.ts
  plugins/type-extensions/enums/constructor.ts
  plugins/type-extensions/enums/function-name.ts
  plugins/type-extensions/expressions/destructure.ts
  plugins/type-extensions/expressions/property-access.ts
  plugins/type-extensions/extension/extension.ts
  plugins/type-extensions/proxy/runtime-proxy.ts
  plugins/type-extensions/runtime/runtime.ts
  plugins/type-extensions/transformer/transformer.ts
Due: prettier --write, eslint --fix, eslint

Add map function to object
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Update storybook to 10.2.7
  package-lock.json
  package.json
Due: prettier --write

Refactor
  plugins/type-extensions/extension/extension.ts
Due: prettier --write, eslint --fix, eslint

Another useHorizontalAnimationWidths fix
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Add fieldKeys, fieldValues to object extension
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Small hook code fix
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Make zip use varargs instead of array
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

add this to fieldValues declaration
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions add vitest config + part of unit tests + fix bugs in plugin
  package-lock.json
  package.json
  plugins/suppress-diagnostics/plugin.ts
  plugins/tests/type-extensions/extensions.config.json
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/tests/type-extensions/global.ts
  plugins/tests/type-extensions/nodes/property-access.test.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
  plugins/tests/type-extensions/transform/transform.ts
  plugins/type-extensions/literals/literal-expressions.ts
  plugins/type-extensions/nodes/destructure.ts
  plugins/type-extensions/nodes/property-access.ts
  plugins/type-extensions/plugin/plugin.ts
  plugins/type-extensions/visitor/visitor.ts
  tsconfig.eslint.json
  tsconfig.plugins.json
  tsconfig.plugins.test.json
  vite.plugins.test.ts
Due: prettier --write, eslint --fix, eslint

Update storybook to 10.2.8
  package-lock.json
  package.json
Due: prettier --write

Type-extensions plugin add missing test for rest paramter
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/tests/type-extensions/global.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
Due: prettier --write, eslint --fix, eslint

Rename fieldKeys and fieldValues to keys and values
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.styles.ts
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

renderNegativeElement bug fix for animation restart
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Type extensions plugin, add inheritance check for extension classes
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/type-extensions/config/config.ts
  plugins/type-extensions/enums/module-name.ts
  plugins/type-extensions/imports/imports.ts
  plugins/type-extensions/transformer/transformer.ts
  tsconfig.plugins.test.json
  vite.plugins.test.ts
Due: prettier --write, eslint --fix, eslint

Type extensios plugin add support for bind, call, apply
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/tests/type-extensions/nodes/extension-class.test.ts
  plugins/tests/type-extensions/nodes/property-access.test.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
  plugins/tests/type-extensions/transform/transform.ts
  plugins/type-extensions/enums/arg-name.ts
  plugins/type-extensions/enums/const-name.ts
  plugins/type-extensions/enums/property-name.ts
  plugins/type-extensions/extension/extension.ts
  plugins/type-extensions/nodes/class.ts
  plugins/type-extensions/nodes/destructure.ts
  plugins/type-extensions/nodes/property-access.ts
  plugins/type-extensions/runtime/extension-new-expression.ts
  plugins/type-extensions/runtime/get-this-value.ts
  plugins/type-extensions/runtime/map.ts
  plugins/type-extensions/runtime/merge.ts
  plugins/type-extensions/runtime/proxy.ts
  plugins/type-extensions/runtime/read-sources.ts
  plugins/type-extensions/runtime/runtime.ts
  plugins/type-extensions/runtime/type-check-map.ts
  plugins/type-extensions/runtime/type-map.ts
  plugins/type-extensions/runtime/wrap.ts
  plugins/type-extensions/transformer/transformer.ts
  plugins/type-extensions/visitor/visitor.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin replace extensions.config.json with code configuration in extension classes
  extensions.config.json
  plugins/tests/type-extensions/extensions.config.json
  plugins/tests/type-extensions/extensions/extensions.ts
  plugins/tests/type-extensions/nodes/extension-class.test.ts
  plugins/tests/type-extensions/transform/transform.ts
  plugins/type-extensions/config/config.ts
  plugins/type-extensions/enums/const-name.ts
  plugins/type-extensions/enums/internal-property-name.ts
  plugins/type-extensions/enums/module-name.ts
  plugins/type-extensions/extension/extension.ts
  plugins/type-extensions/hmr/hmr.ts
  plugins/type-extensions/literals/literal-expressions.ts
  plugins/type-extensions/nodes/class.ts
  plugins/type-extensions/nodes/destructure.ts
  plugins/type-extensions/nodes/property-access.ts
  plugins/type-extensions/plugin/plugin.ts
  plugins/type-extensions/runtime/proxy.ts
  plugins/type-extensions/runtime/runtime.ts
  plugins/type-extensions/runtime/type-check-map.ts
  plugins/type-extensions/runtime/type-map.ts
  plugins/type-extensions/transformer/transformer.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  tsconfig.json
  tsconfig.plugins.test.json
  vite.config.ts
  vite.plugins.test.ts
Due: prettier --write, eslint --fix, eslint

Small refactor
  src/NumbersTransition/NumbersTransition.extensions.ts
Due: prettier --write, eslint --fix, eslint
