Repository piotrek96k/numbers-transition: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{ "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"], "*.{json, md}": ["prettier --write"] }

Update lint-staged and husky
  .husky/pre-commit
  .huskyrc.json
  .npmignore
Due: prettier --write

Add permisions to upgrade-storybook
  .github/workflows/upgrade-storybook.yaml
Due: none

Another fix to make PRs working
  .github/workflows/build-storybook.yaml
Due: none

Bump storybook from 10.2.14 to 10.2.15
  package-lock.json
  package.json
Due: prettier --write

Another fix to make PRs working
  .github/actions/upgrade-storybook/action.yaml
  .github/workflows/build-storybook.yaml
  .github/workflows/upgrade-storybook.yaml
Due: none

Update upgrade storybook
  .github/actions/upgrade-storybook/action.yaml
  .github/workflows/build-storybook.yaml
Due: none

Update upgrade storybook
  .github/workflows/upgrade-storybook.yaml
Due: none

Run actions in all prs
  .github/workflows/build-storybook.yaml
Due: none

Update permissions
  .github/workflows/build-storybook.yaml
Due: none

Testing
  src/NumbersTransition/test.ts
Due: prettier --write, eslint --fix, eslint

Type-extensions plugin replace typeMap with direct classes usage
  plugins/tests/type-extensions/nodes/property-access.test.ts
  plugins/tests/type-extensions/nodes/runtime.test.ts
  plugins/tests/type-extensions/nodes/variable-destructure.test.ts
  plugins/type-extensions/enums/arg-name.ts
  plugins/type-extensions/enums/property-name.ts
  plugins/type-extensions/enums/variable-name.ts
  plugins/type-extensions/literals/literal-expressions.ts
  plugins/type-extensions/nodes/destructure.ts
  plugins/type-extensions/nodes/property-access.ts
  plugins/type-extensions/runtime/default-types.ts
  plugins/type-extensions/runtime/get-extension.ts
  plugins/type-extensions/runtime/map.ts
  plugins/type-extensions/runtime/merge.ts
  plugins/type-extensions/runtime/proxy.ts
  plugins/type-extensions/runtime/runtime.ts
  plugins/type-extensions/runtime/type-distance.ts
  plugins/type-extensions/runtime/type-map.ts
  plugins/type-extensions/runtime/types-argument.ts
  plugins/type-extensions/runtime/types.ts
  plugins/type-extensions/runtime/wrap.ts
Due: prettier --write, eslint --fix, eslint

Add intersects to array
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Refactor
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Bump storybook from 10.2.15 to 10.2.16
  package-lock.json
  package.json
Due: prettier --write

Update existing upgrade-storybook PR on push to master
  .github/actions/check-upgrade-storybook-pr-exists/action.yaml
  .github/actions/read-storybook-version/action.yaml
  .github/actions/upgrade-storybook/action.yaml
  .github/workflows/upgrade-storybook.yaml
Due: none

Bump storybook from 10.2.15 to 10.2.17
  package-lock.json
  package.json
Due: prettier --write

Update upgrade storybook into single action andd logic to delete obsolete PRs
  .github/actions/check-upgrade-storybook-pr-exists/action.yaml
  .github/actions/upgrade-storybook/action.yaml
  .github/workflows/upgrade-storybook.yaml
Due: none

Manually update storybook to 10.2.17
  package-lock.json
  package.json
Due: prettier --write

Simplify upgrade storybook logic
  .github/actions/upgrade-storybook/action.yaml
Due: none

Update .npmignore
  .npmignore
Due: none

Include yaml in lintstagedrc
  .lintstagedrc.json
Due: prettier --write

Add animation algorithm prop to README
  README.md
  src/NumbersTransition/NumbersTransition.hooks.tsx
Due: prettier --write, eslint --fix, eslint

Add optimizationStrategy to README plus some renaming
  README.md
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.tsx
Due: prettier --write, eslint --fix, eslint

Add invalidValue prop to readme
  README.md
Due: none

Stories type improvements
  src/NumbersTransition/NumbersTransition.stories.tsx
Due: prettier --write, eslint --fix, eslint

Bump storybook from 10.2.17 to 10.2.19
  package-lock.json
  package.json
Due: prettier --write

Add DragAndDrop example to storybook
  src/NumbersTransition/NumbersTransition.components.tsx
  src/NumbersTransition/NumbersTransition.enums.ts
  src/NumbersTransition/NumbersTransition.extensions.ts
  src/NumbersTransition/NumbersTransition.hooks.tsx
  src/NumbersTransition/NumbersTransition.stories.tsx
  src/NumbersTransition/NumbersTransition.tsx
  src/global.ts
Due: prettier --write, eslint --fix, eslint

Upgrade vite to 8.0.0
  package-lock.json
  package.json
  plugins/tests/type-extensions/transformer/transformer.ts
  plugins/type-extensions/plugin/plugin.ts
  plugins/type-extensions/transformer/transformer.ts
  tsconfig.plugins.test.json
  vite.config.ts
  vite.plugins.test.ts
  vite.plugins.ts
Due: prettier --write, eslint --fix, eslint
